body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    background-color: gray;
}


.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.buttonContainer {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
}

.sidebar {
    display: grid;
    margin-top: 30px;
    grid-template-rows: repeat(3, 1fr) 5fr;
}

.menuButton {
    border: 2px solid black;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(74, 74, 74);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 3px;
}

.menuButton:hover {
    box-shadow: 0px 0px 2px white;
}

.menuButton:active {
    box-shadow: 2px 2px 2px white, -2px -2px 2px white;
}


.woodCountCl1 {
    color: aliceblue;
}

.woodCountCl2 {
    color: rgb(0, 174, 180);
}


.mainWindow {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 280px;
    height: 280px;
    padding: 10px;
}

#resources p {
    margin-left: 15px;
}

#resources {
    display: flex;
}

#infoButton {
    margin-left: 14px;
    background-color: blue;
    color: white;
    border-radius: 45px;
    border: white 1px solid;
}

.infoBox {
    margin-top: 10px;
    width: 300px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: aliceblue;
    color: blue;
}

.infoBox:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid black;
    right: 90%;
    top: -20px;
}

.infoBox:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 90%;
    top: -18px;
}

#gainAmount {
    color: yellow;
    margin-left: 8px;
    position: absolute;
    top: 60px;
    left: 390px;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: green;
    border-radius: 45px;
    border: aliceblue 1px solid;
}





#footer {
    background-color: black;
}