body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    background-color: gray;
}

#bannerCanvas {

}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer button {
    border: 2px solid black;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(74, 74, 74);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 3px;
}

.buttonContainer button:hover {
    box-shadow: 0px 0px 2px white;
}

.buttonContainer button:active {
    box-shadow: 2px 2px 2px white, -2px -2px 2px white;
}


.woodCountCl1 {
    color: aliceblue;
}

.woodCountCl2 {
    color: rgb(0, 174, 180);
}


.resources div {
    display: flex;
}

#infoButton {
    margin-left: 14px;
    background-color: blue;
    color: white;
    border-radius: 45px;
    border: white 1px solid;
}

.infoBox {
    margin-top: 10px;
    width: 300px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: aliceblue;
    color: blue;
}

.infoBox:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid black;
    right: 90%;
    top: -20px;
}

.infoBox:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 90%;
    top: -18px;
}

#gainAmount {
    color: yellow;
    margin-left: 8px;
}





#footer {
    background-color: black;
}