body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    background-color: gray;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer button {
    border: 2px solid black;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(74, 74, 74);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 3px;
}

.buttonContainer button:hover {
    box-shadow: 0px 0px 2px white;
}

.buttonContainer button:active {
    box-shadow: 2px 2px 2px white, -2px -2px 2px white;
}


.woodCountCl1 {
color: aliceblue;
}

.woodCountCl2 {
    color: rgb(0, 174, 180);
    }


.resources div {
    display: flex;
}


#footer {
    background-color: black;
}

